<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imgname</key>
		<string>image01</string>
		<key>name</key>
		<string>天恒世界集</string>
		<key>descrip</key>
		<string>龙岗大道与龙城南路交汇处</string>
		<key>price</key>
		<string>38000</string>
		<key>size</key>
		<string>42-89</string>
		<key>array</key>
		<array>
			<string>普通住宅</string>
			<string>精装修</string>
			<string>车位充足</string>
		</array>
	</dict>
	<dict>
		<key>imgname</key>
		<string>image06</string>
		<key>name</key>
		<string>天恒世界集</string>
		<key>descrip</key>
		<string>龙岗大道与龙城南路交汇处</string>
		<key>price</key>
		<string>38000</string>
		<key>size</key>
		<string>42-89</string>
		<key>array</key>
		<array>
			<string>普通住宅</string>
			<string>精装修</string>
			<string>车位充足</string>
		</array>
	</dict>
	<dict>
		<key>imgname</key>
		<string>image05</string>
		<key>name</key>
		<string>天恒世界集</string>
		<key>descrip</key>
		<string>龙岗大道与龙城南路交汇处</string>
		<key>price</key>
		<string>38000</string>
		<key>size</key>
		<string>42-89</string>
		<key>array</key>
		<array>
			<string>普通住宅</string>
			<string>精装修</string>
			<string>车位充足</string>
		</array>
	</dict>
	<dict>
		<key>imgname</key>
		<string>image01</string>
		<key>name</key>
		<string>天恒世界集</string>
		<key>descrip</key>
		<string>龙岗大道与龙城南路交汇处</string>
		<key>price</key>
		<string>38000</string>
		<key>size</key>
		<string>42-89</string>
		<key>array</key>
		<array>
			<string>普通住宅</string>
			<string>车位充足</string>
		</array>
	</dict>
	<dict>
		<key>imgname</key>
		<string>image01</string>
		<key>name</key>
		<string>天恒世界集</string>
		<key>descrip</key>
		<string>龙岗大道与龙城南路交汇处</string>
		<key>price</key>
		<string>38000</string>
		<key>size</key>
		<string>42-89</string>
		<key>array</key>
		<array>
			<string>普通住宅</string>
			<string>精装修</string>
			<string>车位充足</string>
		</array>
	</dict>
	<dict>
		<key>imgname</key>
		<string>image01</string>
		<key>name</key>
		<string>天恒世界集</string>
		<key>descrip</key>
		<string>龙岗大道与龙城南路交汇处</string>
		<key>price</key>
		<string>38000</string>
		<key>size</key>
		<string>42-89</string>
		<key>array</key>
		<array>
			<string>普通住宅</string>
			<string>精装修</string>
			<string>车位充足</string>
		</array>
	</dict>
	<dict>
		<key>imgname</key>
		<string>image01</string>
		<key>name</key>
		<string>天恒世界集</string>
		<key>descrip</key>
		<string>龙岗大道与龙城南路交汇处</string>
		<key>price</key>
		<string>38000</string>
		<key>size</key>
		<string>42-89</string>
		<key>array</key>
		<array>
			<string>普通住宅</string>
			<string>精装修</string>
		</array>
	</dict>
	<dict>
		<key>imgname</key>
		<string>image05</string>
		<key>name</key>
		<string>天恒世界集</string>
		<key>descrip</key>
		<string>龙岗大道与龙城南路交汇处</string>
		<key>price</key>
		<string>38000</string>
		<key>size</key>
		<string>42-89</string>
		<key>array</key>
		<array>
			<string>普通住宅</string>
			<string>精装修</string>
			<string>车位充足</string>
		</array>
	</dict>
	<dict>
		<key>imgname</key>
		<string>image03</string>
		<key>name</key>
		<string>天恒世界集</string>
		<key>descrip</key>
		<string>龙岗大道与龙城南路交汇处</string>
		<key>price</key>
		<string>38000</string>
		<key>size</key>
		<string>42-89</string>
		<key>array</key>
		<array>
			<string>普通住宅</string>
			<string>精装修</string>
			<string>地铁房</string>
		</array>
	</dict>
	<dict>
		<key>imgname</key>
		<string>image02</string>
		<key>name</key>
		<string>天恒世界集</string>
		<key>descrip</key>
		<string>龙岗大道与龙城南路交汇处</string>
		<key>price</key>
		<string>38000</string>
		<key>size</key>
		<string>42-89</string>
		<key>array</key>
		<array>
			<string>普通住宅</string>
			<string>精装修</string>
			<string>车位充足</string>
		</array>
	</dict>
</array>
</plist>
