<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>69</string>
		<key>name</key>
		<string>龙岗中心</string>
		<key>longitude</key>
		<string>114.241984</string>
		<key>latitude</key>
		<string>22.719931</string>
	</dict>
	<dict>
		<key>id</key>
		<string>33</string>
		<key>name</key>
		<string>福田中心</string>
		<key>longitude</key>
		<string>114.068631</string>
		<key>latitude</key>
		<string>22.54433</string>
	</dict>
	<dict>
		<key>id</key>
		<string>65</string>
		<key>name</key>
		<string>布吉</string>
		<key>longitude</key>
		<string>114.133659</string>
		<key>latitude</key>
		<string>22.635423</string>
	</dict>
	<dict>
		<key>id</key>
		<string>45</string>
		<key>name</key>
		<string>华侨城</string>
		<key>longitude</key>
		<string>113.985865</string>
		<key>latitude</key>
		<string>22.547214</string>
	</dict>
	<dict>
		<key>id</key>
		<string>38</string>
		<key>name</key>
		<string>莲花</string>
		<key>longitude</key>
		<string>114.068676</string>
		<key>latitude</key>
		<string>22.561803</string>
	</dict>
	<dict>
		<key>id</key>
		<string>32</string>
		<key>name</key>
		<string>保税区</string>
		<key>longitude</key>
		<string>114.05740789396</string>
		<key>latitude</key>
		<string>22.51244900364</string>
	</dict>
	<dict>
		<key>id</key>
		<string>48</string>
		<key>name</key>
		<string>南头</string>
		<key>longitude</key>
		<string>113.931872</string>
		<key>latitude</key>
		<string>22.552238</string>
	</dict>
	<dict>
		<key>id</key>
		<string>52</string>
		<key>name</key>
		<string>蛇口</string>
		<key>longitude</key>
		<string>113.919881</string>
		<key>latitude</key>
		<string>22.489944</string>
	</dict>
	<dict>
		<key>id</key>
		<string>40</string>
		<key>name</key>
		<string>景田</string>
		<key>longitude</key>
		<string>114.050261</string>
		<key>latitude</key>
		<string>22.55784</string>
	</dict>
	<dict>
		<key>id</key>
		<string>51</string>
		<key>name</key>
		<string>前海</string>
		<key>longitude</key>
		<string>113.902236</string>
		<key>latitude</key>
		<string>22.522585</string>
	</dict>
	<dict>
		<key>id</key>
		<string>66</string>
		<key>name</key>
		<string>横岗</string>
		<key>longitude</key>
		<string>114.206821</string>
		<key>latitude</key>
		<string>22.656642</string>
	</dict>
	<dict>
		<key>id</key>
		<string>30</string>
		<key>name</key>
		<string>梅林</string>
		<key>longitude</key>
		<string>114.047817</string>
		<key>latitude</key>
		<string>22.575051</string>
	</dict>
	<dict>
		<key>id</key>
		<string>37</string>
		<key>name</key>
		<string>车公庙</string>
		<key>longitude</key>
		<string>114.034639</string>
		<key>latitude</key>
		<string>22.539264</string>
	</dict>
	<dict>
		<key>id</key>
		<string>35</string>
		<key>name</key>
		<string>香蜜湖</string>
		<key>longitude</key>
		<string>114.033166</string>
		<key>latitude</key>
		<string>22.553766</string>
	</dict>
	<dict>
		<key>id</key>
		<string>50</string>
		<key>name</key>
		<string>南山中心</string>
		<key>longitude</key>
		<string>113.92576</string>
		<key>latitude</key>
		<string>22.520152</string>
	</dict>
	<dict>
		<key>id</key>
		<string>17</string>
		<key>name</key>
		<string>翠竹</string>
		<key>longitude</key>
		<string>114.139723</string>
		<key>latitude</key>
		<string>22.571392</string>
	</dict>
	<dict>
		<key>id</key>
		<string>46</string>
		<key>name</key>
		<string>后海</string>
		<key>longitude</key>
		<string>113.939118</string>
		<key>latitude</key>
		<string>22.516238</string>
	</dict>
	<dict>
		<key>id</key>
		<string>29</string>
		<key>name</key>
		<string>上下沙</string>
		<key>longitude</key>
		<string>114.042469</string>
		<key>latitude</key>
		<string>22.529288</string>
	</dict>
	<dict>
		<key>id</key>
		<string>54</string>
		<key>name</key>
		<string>沙头角</string>
		<key>longitude</key>
		<string>114.23296227279</string>
		<key>latitude</key>
		<string>22.56503410211</string>
	</dict>
	<dict>
		<key>id</key>
		<string>34</string>
		<key>name</key>
		<string>华强</string>
		<key>longitude</key>
		<string>114.09093837029</string>
		<key>latitude</key>
		<string>22.550560856132</string>
	</dict>
	<dict>
		<key>id</key>
		<string>57</string>
		<key>name</key>
		<string>宝安中心</string>
		<key>longitude</key>
		<string>113.89565</string>
		<key>latitude</key>
		<string>22.562266</string>
	</dict>
	<dict>
		<key>id</key>
		<string>36</string>
		<key>name</key>
		<string>皇岗</string>
		<key>longitude</key>
		<string>114.074628</string>
		<key>latitude</key>
		<string>22.527719</string>
	</dict>
	<dict>
		<key>id</key>
		<string>64</string>
		<key>name</key>
		<string>坂田</string>
		<key>longitude</key>
		<string>114.07449072316</string>
		<key>latitude</key>
		<string>22.629117454088</string>
	</dict>
	<dict>
		<key>id</key>
		<string>41</string>
		<key>name</key>
		<string>平湖</string>
		<key>longitude</key>
		<string>114.132299</string>
		<key>latitude</key>
		<string>22.689232</string>
	</dict>
	<dict>
		<key>id</key>
		<string>62</string>
		<key>name</key>
		<string>西乡</string>
		<key>longitude</key>
		<string>113.858245</string>
		<key>latitude</key>
		<string>22.600191</string>
	</dict>
	<dict>
		<key>id</key>
		<string>53</string>
		<key>name</key>
		<string>西丽</string>
		<key>longitude</key>
		<string>113.956204</string>
		<key>latitude</key>
		<string>22.57735</string>
	</dict>
	<dict>
		<key>id</key>
		<string>16</string>
		<key>name</key>
		<string>莲塘</string>
		<key>longitude</key>
		<string>114.179631</string>
		<key>latitude</key>
		<string>22.568807</string>
	</dict>
	<dict>
		<key>id</key>
		<string>70</string>
		<key>name</key>
		<string>龙华中心</string>
		<key>longitude</key>
		<string>114.032227</string>
		<key>latitude</key>
		<string>22.657455</string>
	</dict>
	<dict>
		<key>id</key>
		<string>58</string>
		<key>name</key>
		<string>福永</string>
		<key>longitude</key>
		<string>113.819329</string>
		<key>latitude</key>
		<string>22.686748</string>
	</dict>
	<dict>
		<key>id</key>
		<string>18</string>
		<key>name</key>
		<string>东门</string>
		<key>longitude</key>
		<string>114.128569</string>
		<key>latitude</key>
		<string>22.55442</string>
	</dict>
	<dict>
		<key>id</key>
		<string>63</string>
		<key>name</key>
		<string>新安</string>
		<key>longitude</key>
		<string>113.914223</string>
		<key>latitude</key>
		<string>22.580537</string>
	</dict>
	<dict>
		<key>id</key>
		<string>47</string>
		<key>name</key>
		<string>科技园</string>
		<key>longitude</key>
		<string>113.954273</string>
		<key>latitude</key>
		<string>22.549232</string>
	</dict>
	<dict>
		<key>id</key>
		<string>31</string>
		<key>name</key>
		<string>新洲</string>
		<key>longitude</key>
		<string>114.050679</string>
		<key>latitude</key>
		<string>22.530106</string>
	</dict>
	<dict>
		<key>id</key>
		<string>68</string>
		<key>name</key>
		<string>坪地</string>
		<key>longitude</key>
		<string>114.311051</string>
		<key>latitude</key>
		<string>22.765347</string>
	</dict>
	<dict>
		<key>id</key>
		<string>72</string>
		<key>name</key>
		<string>民治</string>
		<key>longitude</key>
		<string>114.04786064158</string>
		<key>latitude</key>
		<string>22.622584720476</string>
	</dict>
	<dict>
		<key>id</key>
		<string>43</string>
		<key>name</key>
		<string>竹子林</string>
		<key>longitude</key>
		<string>114.01132</string>
		<key>latitude</key>
		<string>22.549996</string>
	</dict>
	<dict>
		<key>id</key>
		<string>55</string>
		<key>name</key>
		<string>盐田港</string>
		<key>longitude</key>
		<string>114.270382</string>
		<key>latitude</key>
		<string>22.597845</string>
	</dict>
	<dict>
		<key>id</key>
		<string>28</string>
		<key>name</key>
		<string>八卦岭</string>
		<key>longitude</key>
		<string>114.105686</string>
		<key>latitude</key>
		<string>22.567395</string>
	</dict>
	<dict>
		<key>id</key>
		<string>27</string>
		<key>name</key>
		<string>银湖</string>
		<key>longitude</key>
		<string>114.09261483899</string>
		<key>latitude</key>
		<string>22.584577207172</string>
	</dict>
	<dict>
		<key>id</key>
		<string>23</string>
		<key>name</key>
		<string>布心</string>
		<key>longitude</key>
		<string>114.131581</string>
		<key>latitude</key>
		<string>22.588163</string>
	</dict>
	<dict>
		<key>id</key>
		<string>73</string>
		<key>name</key>
		<string>观澜</string>
		<key>longitude</key>
		<string>114.062906</string>
		<key>latitude</key>
		<string>22.711183</string>
	</dict>
	<dict>
		<key>id</key>
		<string>21</string>
		<key>name</key>
		<string>洪湖</string>
		<key>longitude</key>
		<string>114.128059</string>
		<key>latitude</key>
		<string>22.571544</string>
	</dict>
	<dict>
		<key>id</key>
		<string>44</string>
		<key>name</key>
		<string>笔架山</string>
		<key>longitude</key>
		<string>114.087294</string>
		<key>latitude</key>
		<string>22.568307</string>
	</dict>
	<dict>
		<key>id</key>
		<string>34</string>
		<key>name</key>
		<string>华强南</string>
		<key>longitude</key>
		<string>114.08882175458</string>
		<key>latitude</key>
		<string>22.541939474418</string>
	</dict>
	<dict>
		<key>id</key>
		<string>71</string>
		<key>name</key>
		<string>大浪</string>
		<key>longitude</key>
		<string>114.012792</string>
		<key>latitude</key>
		<string>22.685307</string>
	</dict>
	<dict>
		<key>id</key>
		<string>22</string>
		<key>name</key>
		<string>笋岗</string>
		<key>longitude</key>
		<string>114.118472</string>
		<key>latitude</key>
		<string>22.571083</string>
	</dict>
	<dict>
		<key>id</key>
		<string>74</string>
		<key>name</key>
		<string>公明</string>
		<key>longitude</key>
		<string>113.923689</string>
		<key>latitude</key>
		<string>22.757803</string>
	</dict>
	<dict>
		<key>id</key>
		<string>76</string>
		<key>name</key>
		<string>坪山</string>
		<key>longitude</key>
		<string>114.355493</string>
		<key>latitude</key>
		<string>22.70512</string>
	</dict>
	<dict>
		<key>id</key>
		<string>15</string>
		<key>name</key>
		<string>水库</string>
		<key>longitude</key>
		<string>114.14636</string>
		<key>latitude</key>
		<string>22.577933</string>
	</dict>
	<dict>
		<key>id</key>
		<string>19</string>
		<key>name</key>
		<string>黄贝岭</string>
		<key>longitude</key>
		<string>114.145866</string>
		<key>latitude</key>
		<string>22.559741</string>
	</dict>
	<dict>
		<key>id</key>
		<string>56</string>
		<key>name</key>
		<string>梅沙</string>
		<key>longitude</key>
		<string>114.31291</string>
		<key>latitude</key>
		<string>22.603342</string>
	</dict>
	<dict>
		<key>id</key>
		<string>78</string>
		<key>name</key>
		<string>大鹏</string>
		<key>longitude</key>
		<string>114.479045</string>
		<key>latitude</key>
		<string>22.631135</string>
	</dict>
	<dict>
		<key>id</key>
		<string>60</string>
		<key>name</key>
		<string>松岗</string>
		<key>longitude</key>
		<string>113.84573771383</string>
		<key>latitude</key>
		<string>22.791961262185</string>
	</dict>
	<dict>
		<key>id</key>
		<string>61</string>
		<key>name</key>
		<string>沙井</string>
		<key>longitude</key>
		<string>113.813831</string>
		<key>latitude</key>
		<string>22.736955</string>
	</dict>
	<dict>
		<key>id</key>
		<string>81</string>
		<key>name</key>
		<string>莞城</string>
		<key>longitude</key>
		<string>113.7574920654297</string>
		<key>latitude</key>
		<string>23.05971717834473</string>
	</dict>
	<dict>
		<key>id</key>
		<string>82</string>
		<key>name</key>
		<string>南城</string>
		<key>longitude</key>
		<string>113.7506408691406</string>
		<key>latitude</key>
		<string>23.02432060241699</string>
	</dict>
	<dict>
		<key>id</key>
		<string>83</string>
		<key>name</key>
		<string>东城</string>
		<key>longitude</key>
		<string>113.7896881103516</string>
		<key>latitude</key>
		<string>23.03434562683105</string>
	</dict>
	<dict>
		<key>id</key>
		<string>84</string>
		<key>name</key>
		<string>万江</string>
		<key>longitude</key>
		<string>113.7437362670898</string>
		<key>latitude</key>
		<string>23.05331611633301</string>
	</dict>
	<dict>
		<key>id</key>
		<string>85</string>
		<key>name</key>
		<string>石龙镇</string>
		<key>longitude</key>
		<string>113.880729675293</string>
		<key>latitude</key>
		<string>23.11161422729492</string>
	</dict>
	<dict>
		<key>id</key>
		<string>86</string>
		<key>name</key>
		<string>石排镇</string>
		<key>longitude</key>
		<string>113.9465484619141</string>
		<key>latitude</key>
		<string>23.09485244750977</string>
	</dict>
	<dict>
		<key>id</key>
		<string>87</string>
		<key>name</key>
		<string>茶山镇</string>
		<key>longitude</key>
		<string>113.875617980957</string>
		<key>latitude</key>
		<string>23.08247756958008</string>
	</dict>
	<dict>
		<key>id</key>
		<string>88</string>
		<key>name</key>
		<string>企石镇</string>
		<key>longitude</key>
		<string>114.0285339355469</string>
		<key>latitude</key>
		<string>23.07903671264648</string>
	</dict>
	<dict>
		<key>id</key>
		<string>89</string>
		<key>name</key>
		<string>桥头镇</string>
		<key>longitude</key>
		<string>114.1096038818359</string>
		<key>latitude</key>
		<string>23.03007888793945</string>
	</dict>
	<dict>
		<key>id</key>
		<string>90</string>
		<key>name</key>
		<string>东坑镇</string>
		<key>longitude</key>
		<string>113.9546508789062</string>
		<key>latitude</key>
		<string>22.99509429931641</string>
	</dict>
	<dict>
		<key>id</key>
		<string>91</string>
		<key>name</key>
		<string>横沥镇</string>
		<key>longitude</key>
		<string>113.9729919433594</string>
		<key>latitude</key>
		<string>23.02480888366699</string>
	</dict>
	<dict>
		<key>id</key>
		<string>92</string>
		<key>name</key>
		<string>常平镇</string>
		<key>longitude</key>
		<string>113.99951171875</string>
		<key>latitude</key>
		<string>22.98104667663574</string>
	</dict>
	<dict>
		<key>id</key>
		<string>93</string>
		<key>name</key>
		<string>虎门镇</string>
		<key>longitude</key>
		<string>113.6793212890625</string>
		<key>latitude</key>
		<string>22.82064819335938</string>
	</dict>
	<dict>
		<key>id</key>
		<string>94</string>
		<key>name</key>
		<string>长安镇</string>
		<key>longitude</key>
		<string>113.8090362548828</string>
		<key>latitude</key>
		<string>22.8210391998291</string>
	</dict>
	<dict>
		<key>id</key>
		<string>95</string>
		<key>name</key>
		<string>沙田镇</string>
		<key>longitude</key>
		<string>113.6240844726562</string>
		<key>latitude</key>
		<string>22.92527008056641</string>
	</dict>
	<dict>
		<key>id</key>
		<string>96</string>
		<key>name</key>
		<string>厚街镇</string>
		<key>longitude</key>
		<string>113.6767959594727</string>
		<key>latitude</key>
		<string>22.94132232666016</string>
	</dict>
	<dict>
		<key>id</key>
		<string>97</string>
		<key>name</key>
		<string>寮步镇</string>
		<key>longitude</key>
		<string>113.8812713623047</string>
		<key>latitude</key>
		<string>23.00370979309082</string>
	</dict>
	<dict>
		<key>id</key>
		<string>98</string>
		<key>name</key>
		<string>大岭山镇</string>
		<key>longitude</key>
		<string>113.8093566894531</string>
		<key>latitude</key>
		<string>22.86803245544434</string>
	</dict>
	<dict>
		<key>id</key>
		<string>99</string>
		<key>name</key>
		<string>大朗镇</string>
		<key>longitude</key>
		<string>113.9505844116211</string>
		<key>latitude</key>
		<string>22.94565773010254</string>
	</dict>
	<dict>
		<key>id</key>
		<string>100</string>
		<key>name</key>
		<string>黄江镇</string>
		<key>longitude</key>
		<string>114.0084075927734</string>
		<key>latitude</key>
		<string>22.92128562927246</string>
	</dict>
	<dict>
		<key>id</key>
		<string>101</string>
		<key>name</key>
		<string>樟木头镇</string>
		<key>longitude</key>
		<string>114.0897827148438</string>
		<key>latitude</key>
		<string>22.92082786560059</string>
	</dict>
	<dict>
		<key>id</key>
		<string>104</string>
		<key>name</key>
		<string>清溪镇</string>
		<key>longitude</key>
		<string>114.1708908081055</string>
		<key>latitude</key>
		<string>22.85030746459961</string>
	</dict>
	<dict>
		<key>id</key>
		<string>105</string>
		<key>name</key>
		<string>凤岗镇</string>
		<key>longitude</key>
		<string>114.1547164916992</string>
		<key>latitude</key>
		<string>22.74981689453125</string>
	</dict>
	<dict>
		<key>id</key>
		<string>106</string>
		<key>name</key>
		<string>麻涌镇</string>
		<key>longitude</key>
		<string>113.58837890625</string>
		<key>latitude</key>
		<string>23.05708312988281</string>
	</dict>
	<dict>
		<key>id</key>
		<string>107</string>
		<key>name</key>
		<string>中堂镇</string>
		<key>longitude</key>
		<string>113.663932800293</string>
		<key>latitude</key>
		<string>23.09864234924316</string>
	</dict>
	<dict>
		<key>id</key>
		<string>108</string>
		<key>name</key>
		<string>高埗镇</string>
		<key>longitude</key>
		<string>113.7523574829102</string>
		<key>latitude</key>
		<string>23.09723854064941</string>
	</dict>
	<dict>
		<key>id</key>
		<string>109</string>
		<key>name</key>
		<string>石碣镇</string>
		<key>longitude</key>
		<string>113.8198165893555</string>
		<key>latitude</key>
		<string>23.10500717163086</string>
	</dict>
	<dict>
		<key>id</key>
		<string>110</string>
		<key>name</key>
		<string>望牛墩镇</string>
		<key>longitude</key>
		<string>113.6626358032227</string>
		<key>latitude</key>
		<string>23.06159782409668</string>
	</dict>
	<dict>
		<key>id</key>
		<string>111</string>
		<key>name</key>
		<string>洪梅镇</string>
		<key>longitude</key>
		<string>113.6154403686523</string>
		<key>latitude</key>
		<string>23.00064277648926</string>
	</dict>
	<dict>
		<key>id</key>
		<string>112</string>
		<key>name</key>
		<string>道滘镇</string>
		<key>longitude</key>
		<string>113.6817169189453</string>
		<key>latitude</key>
		<string>23.01024627685547</string>
	</dict>
	<dict>
		<key>id</key>
		<string>113</string>
		<key>name</key>
		<string>松山湖</string>
		<key>longitude</key>
		<string>113.8717041015625</string>
		<key>latitude</key>
		<string>22.89933013916016</string>
	</dict>
	<dict>
		<key>id</key>
		<string>114</string>
		<key>name</key>
		<string>惠城区</string>
		<key>longitude</key>
		<string>114.3892974853516</string>
		<key>latitude</key>
		<string>23.08990478515625</string>
	</dict>
	<dict>
		<key>id</key>
		<string>115</string>
		<key>name</key>
		<string>惠阳区</string>
		<key>longitude</key>
		<string>114.4630279541016</string>
		<key>latitude</key>
		<string>22.7946834564209</string>
	</dict>
	<dict>
		<key>id</key>
		<string>116</string>
		<key>name</key>
		<string>惠东县</string>
		<key>longitude</key>
		<string>114.7264862060547</string>
		<key>latitude</key>
		<string>22.99128150939941</string>
	</dict>
	<dict>
		<key>id</key>
		<string>117</string>
		<key>name</key>
		<string>博罗县</string>
		<key>longitude</key>
		<string>114.296272277832</string>
		<key>latitude</key>
		<string>23.17886924743652</string>
	</dict>
	<dict>
		<key>id</key>
		<string>119</string>
		<key>name</key>
		<string>大亚湾</string>
		<key>longitude</key>
		<string>114.6927947998047</string>
		<key>latitude</key>
		<string>22.78518676757812</string>
	</dict>
	<dict>
		<key>id</key>
		<string>120</string>
		<key>name</key>
		<string>仲恺</string>
		<key>longitude</key>
		<string>114.3903427124023</string>
		<key>latitude</key>
		<string>23.08209609985352</string>
	</dict>
</array>
</plist>
