<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tab</key>
	<array>
		<dict>
			<key>title</key>
			<string>首页</string>
			<key>class</key>
			<string>HomeViewController</string>
			<key>unselectImg</key>
			<string>icon_home_normal</string>
			<key>selectImg</key>
			<string>icon_home_selected</string>
			<key>unselectTitleColor</key>
			<string>#838383</string>
			<key>selectTitleColor</key>
			<string>#ED1B24</string>
			<key>barItemFont</key>
			<string>{F:10}</string>
		</dict>
		<dict>
			<key>title</key>
			<string>消息</string>
			<key>class</key>
			<string>MessageViewController</string>
			<key>unselectImg</key>
			<string>icon_news_normal</string>
			<key>selectImg</key>
			<string>icon_news_selected</string>
			<key>unselectTitleColor</key>
			<string>#838383</string>
			<key>selectTitleColor</key>
			<string>#ED1B24</string>
			<key>barItemFont</key>
			<string>{F:10}</string>
		</dict>
		<dict>
			<key>title</key>
			<string>看房</string>
			<key>class</key>
			<string>ShowingsViewController</string>
			<key>unselectImg</key>
			<string>icon_kanfang_normal</string>
			<key>selectImg</key>
			<string>icon_kanfang_selected</string>
			<key>unselectTitleColor</key>
			<string>#838383</string>
			<key>selectTitleColor</key>
			<string>#ED1B24</string>
			<key>barItemFont</key>
			<string>{F:10}</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的</string>
			<key>class</key>
			<string>MyViewController</string>
			<key>unselectImg</key>
			<string>icon_account_normal</string>
			<key>selectImg</key>
			<string>icon_account_selected</string>
			<key>unselectTitleColor</key>
			<string>#838383</string>
			<key>selectTitleColor</key>
			<string>#ED1B24</string>
			<key>barItemFont</key>
			<string>{F:10}</string>
		</dict>
	</array>
	<key>Nav</key>
	<dict>
		<key>isHaveNav</key>
		<true/>
		<key>navBarColor</key>
		<string>#0Xf0eff5</string>
		<key>navBarTitleColor</key>
		<string>#0X2c2c2c</string>
		<key>navBarTitleFont</key>
		<string>{F:18}</string>
	</dict>
</dict>
</plist>
